 <div class="container marketing mt-5 ">
    
    <hr class="featurette-divider">

    
    <div class="row featurette">
       <div class="col-md-7">
        <h2 class="featurette-heading">NORMAL LAPTOPS</h2>
        <p class="lead">Specifications: Questions about the specifications of laptops such as processor (CPU), graphics card (GPU), RAM, storage (SSD or HDD), display size and resolution, battery life, etc.

          Usage: Queries about what kind of tasks a laptop can handle effectively, such as gaming, office work, content creation (video editing, graphic design, etc.), programming, etc.
          
          Operating Systems: Discussions about different operating systems available for laptops, like Windows,  Linux, and Chrome OS.
          
          Brands: Inquiries about popular laptop brands like HP, , Lenovo, , Asus, Acer, etc., and their reputation for reliability, performance, customer support, etc.
          
          Budget: Questions regarding the best laptops available within a specific budget range.
          
          Form Factor: Curiosities about different laptop form factors like traditional clamshell, 2-in-1 convertible, and ultra-portable laptops.
          
          Connectivity: Inquiries about the ports available on laptops, such as USB Type-A, USB Type-C, HDMI, Thunderbolt, headphone jacks, etc.
          
          Battery Life: Discussions about battery life and factors affecting it, like usage patterns, screen brightness, and battery capacity.
            </p>
      </div> 
       <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="static/core/images/laptop3.jpg" data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider"> 

    <!-- Cat featurette-->
     <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">GAMING LAPTOPS</h2>
        <p class="lead">Hardware Specifications: Gaming laptops typically feature powerful processors (such as Intel Core i7 or i9, or AMD Ryzen 7 or 9), dedicated graphics cards (NVIDIA GeForce GTX or RTX series, or AMD Radeon RX series), ample RAM (usually 8GB or more, often up to 16GB or 32GB), and fast solid-state drives (SSDs) for storage.

          Graphics Performance: The graphics card is one of the most important components in a gaming laptop. Look for models with dedicated GPUs that offer high performance and support for features like real-time ray tracing (found in NVIDIA RTX series cards).
          
          Display: A high-quality display is essential for gaming. Look for laptops with Full HD (1920x1080) or higher resolution displays, with features like high refresh rates (commonly 144Hz or 240Hz) and adaptive sync technologies (like NVIDIA G-Sync or AMD FreeSync) for smoother gameplay.
          
          Cooling System: Gaming laptops tend to generate a lot of heat due to their powerful hardware. Look for laptops with efficient cooling systems, such as multiple heat pipes, large fans, and ventilation grilles, to ensure optimal performance and longevity.
          
          Keyboard and Input: Gaming laptops often come with backlit keyboards, customizable RGB lighting, and anti-ghosting technology to prevent input lag during intense gaming sessions. Some models also offer programmable macro keys for added convenience.
          
          Portability: While gaming laptops are designed for performance, they can be heavier and bulkier than standard laptops due to their high-end components. Consider your mobility needs when choosing a gaming laptop.
          
          Battery Life: Gaming laptops typically have shorter battery life compared to standard laptops due to their powerful hardware and energy-intensive gaming sessions. If portability is important to you, look for models with larger battery capacities or power-saving features.
          
          Price: Gaming laptops can range from budget-friendly options to premium models with top-of-the-line specs. Consider your budget and gaming requirements when choosing a gaming laptop.
          
          Popular gaming laptop brands include ASUS ROG (Republic of Gamers), MSI, Alienware (by Dell), Razer, Acer Predator, and Gigabyte Aorus, among others. It's essential to research and compare different models to find the best gaming laptop that fits your needs and budget.
          </p>
      </div> 
       <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="static/core/images/laptop.jpg" data-holder-rendered="true">
      </div>
    </div> 

    

  

