<div class="container mt-5 x">    <!-- mt-4 stand for top margin from o-5 value -->
    <h1>Laptop Categories </h1>
</div>
    <div class="container mt-4">
        <div class="card-deck">
          <!-- normal card start-->
          <a href="{% url "normalcategories" %}" class = "card-img-href" style="text-decoration: none; ">
            <div class="card ml-5 mt-5 mb-5" style="width: 18rem;">
                <img class="card-img-top" src="static/core/images/asus.jpg" alt="Card image cap">
                <div class="card-body" style= "">
                  <p class="card-text">This is normal laptop we can use in official work.</p>
                </div>
              </div>
            </a>
          <!-- normal card End-->
      
          

          <a href="{% url "gamingcategories" %}" class = "card-img-href" style="text-decoration: none; ">
              <div class="card ml-5 mt-5" style="width: 18rem;">
                <img class="card-img-top" src="static/core/images/acer predator helois.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"> this is gaming laptops we can use in plaiyng to gane and uses to graphic design.</p>
                </div>
              </div>
          </a>
          
            
         
          
        </div>
    </div>

